.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-image: url("https://img.freepik.com/free-vector/young-people-talking-different-languages-illustrations-set_23-2148370672.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699488000&semt=ais");
      background-size: cover;
    
}
.custom-background{
    background-color: #8D6142
}
  input[type="text"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 20px;
  }
  
  
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    background-color: rgba(220,220,220,0.627);
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .list-container {
    display: flex;
  }
  
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }