body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Navbar styles */
.navbar {
  background-color:black;
  color: white;
  padding: 1rem;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.navbar-brand a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-item {
  font-size: 18px;
}

.nav-item a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-item a:hover {
  color: #169D53;
}

